<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{{- if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{- else }}
	<meta name="description" content="{{ .Site.Params.Description }}">
	{{- end }}

	<title>{{ if not .IsHome }}{{ .Title }} | {{end}}{{ .Site.Title }}</title>

	{{- $style := resources.Get "css/main.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<base href="{{ .Permalink }}">
	<link rel="canonical" href="{{ .Permalink }}">

	{{- $favicon := resources.Get "img/profile.png" }}
	<link rel="shortcut icon" type="image/png" href="{{ $favicon.Permalink }}">
</head>
<body>
	<section id="links">
		<p>
			<strong>{{ .Site.Title }}</strong> ===&gt;
			<a href="/">Home</a> |
			<a href="/reading/">Reading List</a> |
			<a href="/about/">About</a>
		</p>
	</section>

	<section id="content">
		{{- block "main" . }}{{- end }}
	</section>
</body>
</html>
