<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{{- if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{- else }}
	<meta name="description" content="{{ .Site.Params.Description }}">
	{{- end }}

	<title>{{ if not .IsHome }}{{ .Title }} | {{end}}{{ .Site.Title }}</title>

	{{- $style := resources.Get "css/main.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<base href="{{ .Permalink }}">
	<link rel="canonical" href="{{ .Permalink }}">

	{{- $favicon := resources.Get "img/profile.png" }}
	<link rel="shortcut icon" type="image/png" href="{{ $favicon.Permalink }}">
</head>
<body>
	<section id="links">
		{{ .Site.Title }} &gt; <a href="/">Home</a> | <a href="/reading">Reading List</a> | <a href="/musings">Musings</a> | <a href="/about">About</a>
	</section>

	<section id="content">
		{{- block "main" . }}{{- end -}}
	</section>

	{{- if .Params.mathjax }}
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script>
	window.MathJax = {
	  tex: {
	    inlineMath: [['$','$'], ['\\(','\\)']],
	    displayMath: [['$$','$$'], ['\[','\]']],
	    processEscapes: true,
	    processEnvironments: true
	  },
	  options: {
	    skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
	  },
	  startup: {
	    pageReady() {
	      return MathJax.startup.defaultPageReady().then(function () {
	        var all = window.MathJax.startup.document.getMathItemsWithin(document.body), i;
	        for(i = 0; i < all.length; i += 1) {
	          console.log(all[i])
	          all[i].start.node.parentNode.className += ' has-jax';
	        }
	      });
	    }
	  }
	};
	</script>
	{{- end }}
</body>
</html>
