    {{ define "main" }}
    {{- $Pages := .Pages }}

    {{- if .IsHome }}
      {{- $Pages = where site.RegularPages "Type" "in" site.Params.MainSections }}
    {{- end }}

    <section>
      <header>
        <h1>Posts</h1>
      </header>

      {{- range $Pages }}
      <article>
        {{- if .Date }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "2006-01-02" }}
        </time>
        {{- end }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </article>
      {{- end }}
    </section>
    {{ end }}